@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);

  --color-cream-1: #fefae0;
  --color-cream-2: #faedcd;
  --color-cream-3: #d4a373;
  --color-cream-4: #936639;
  --color-cream-5: #7f4f24;
  --color-cream-6: #582f0e;
  
  --color-mint-1: #ccd5ae;
  --color-mint-2: #b1bf84;
  --color-mint-3: #97a959;
  --color-mint-4: #718042;
}
